* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f9f9f9;
    color: #333;
}
nav {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}
nav a:hover {
    color: #1abc9c;
}
 
.e-aware {
    background-color: #ecf0f1;
    text-align: center;
    padding: 30px;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.e-aware .headings {
    color: #1abc9c;
    font-size: 1.5rem;
}

.content-section {
    width: 55%;
}
.image-section img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: #ecf0f1;
}
footer p {
    margin: 0;
}